manifest {
  author = 'Sherrie Wang, Dan Fornika, John Palmer'
  name = 'BCCDC-PHL/16s-nf'
  version = '0.2.0'
  description = 'BCCDC-PHL Taxonomic Assignment from 16S rRNA sequences'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir = 'results'
  fasta_exts = ['*.fa', '*.fasta', '*.fna']
  fasta_search_path = makeFastaSearchPath(fasta_exts)
  fasta_input = 'NO_FILE'
  samplesheet_input = 'NO_FILE'
  databases = 'NO_FILE'
  no_db_metadata = false
  filter_regexes = 'NO_FILE'
  minid = 95.0
  mincov = 95.0
  pipeline_short_name = parsePipelineName(manifest.toMap().get('name'))
  pipeline_minor_version = parseMinorVersion(manifest.toMap().get('version'))
}

def makeFastaSearchPath (fasta_exts) {
    def fasta_search_path = []
    for (ext in fasta_exts) {
        fasta_search_path.add(params.fasta_input.toString() + '/' + ext.toString())
        fasta_search_path.add(params.fasta_input.toString() + '/**/' + ext.toString())
    }
    return fasta_search_path
}

def parseMinorVersion(version) {
    minor_version = version.split('\\.')[0..1].join('.')
    return minor_version
}

def parsePipelineName(name) {
    short_name = name.split('/')[1]
    return short_name
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {

  withName: blastn {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

}